@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$headerTextSize: 1.25em;
$headerFont: 'Noto Sans KR', sans-serif;
$altLargeFont: 'Catamaran', sans-serif;
$smallFont: 'Noto Sans JP', sans-serif;
$smallTextSize: .7em;
