//SCSS Document
@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/typography";
@import "./partials/mixins";




header{
    height: 80px;
    //margin: 0px;
    //padding: 0px;
    background-color: $darkBackground;
    img{
        display: inline-block;
        margin: 10px;
        border-radius: 50%;
        transition: scale ease-in;
        &:hover,
        &:focus {
            transform: scale(1.25, 1.25);
            cursor: pointer;
        }
    }

    h1{
        float: right;
        text-align: center;
        margin: 27px 180px 15px 5px;
        color: $whiteTextColor;
        font-family: $largeFont;
        font-size: $largeTextSize;
        font-weight: 500px;
        
    }
}



nav{
    margin: 10px 0px;
    padding: 2px;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        float: left;
    }

    li{
        display: inline-block;
        width: 69px;
        padding: 2px;
        margin: 0px 5px 10px 0px;
        text-align: center;
        font-family: $smallFont;
        font-size: $smallTextSize;
      
         
    }

    a{
        text-decoration: none;
        color: $navTextColor;
    }
}

.hero{
    figure{
        height: 200px;
        width: 414px;
        margin: 10px 0px;
        padding: 10px 0px;
    }
    p{
        height: 100px;
        width: 374px;
        margin: 15px 0px 5px 0px;
        padding: 10px 20px;
        text-align: center;
        font-family: $smallFont;
    }
    .button {
        @include btn();
    }
}

.pics{
    height: 320px;
    width: 414px;
    margin: 15px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    background-color: $picBackground;
    border-top: 1px solid rgba(55,55,55,0.2);
    display: grid;
    grid-template-columns: 165px 165px;
    grid-template-rows: 110px 110px;
    grid-gap: 45px;
}

.gridImage{
    height: 110px;
    width: 165px;
    margin: 5px 0px;
    padding: 20px 20px 0px 20px;
}

footer{
    margin: 0px;
    padding: 0px;
    height: 25px;
    background-color: $darkBackground;

    p{
    margin: 0px;
    padding: 5px;
    text-align: center;
    color: $whiteTextColor;
    font-size: $smallTextSize;
    font-family: $smallFont;
    }
}
//Medium Screens and up
@media (min-width: 768px) {
   
    header h1{
        color: $medSHeaderColor;
    } 
    .hero .button{
        color: $medSHeaderColor;
    }
}

//Big Screens
@media (min-width: 1024px){
   
    
    header {
       display: flex;
       flex-flow: row nowrap; 
  
        height: 80px;
        width: 100%;
        justify-content: space-around;
        align-content: center;

         h1{
            color: $bigSHeaderColor;
        // justify-content: space-around;
        // align-content: center;
        }
    
     
}

.hero .button {
    color: $bigSHeaderColor;
}
.heroGrid{
    height: 450px;
    width: 100%;
    margin: 50px;
    display: grid;
    grid-template-rows: 250px 100px;
    grid-template-columns: 440px 440px;
    justify-content:center;
    align-content: center;
    gap: 50px;
   
}
nav ul{
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.pics{
    height: 200px;
    width: 100%;
    // padding: 10px 10px 10px 10px;

    //  gap: 70px;
    // grid-template-columns: repeat(4, 165px);
    display: flex;
    // justify-content: center;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: base;
}

    
   

}






